snippet int 
\int_{$1}^{$2}{$3}$0
endsnippet
snippet sum
\displaystyle \sum_{$1}^{$2}{$3}
endsnippet
snippet rel
\mathbb{R}
endsnippet
snippet rtl
\mathbb{Q}
endsnippet
snippet nat
\mathbb{N}
endsnippet
snippet z
\($1\)$0
endsnippet
snippet x
\[$1\]$0
endsnippet
snippet fr
\frac{$1}{$2}$0
endsnippet
snippet to
$1^{$2}$0
endsnippet
snippet ri
\rightarrow
endsnippet
snippet ric
\Rightarrow
endsnippet
snippet lric
\Longrightarrow
endsnippet
